.stignore
GIMP/
MusicBrainz/
QtProject.conf
Signal/
Slack/
VirtualBox/
Yubico/
arkrc
audacity/
autostart/
btop/
chromium/
cmus/
dconf/
dolphinrc
emaildefaults
emailidentities
evolution/
filezilla/
gdd@p1sec.signature
gdd@p1sec.signature~
gh/
git/
gromit-mpx.ini
gtk-2.0/
gtk-3.0/
gtk-4.0/
htop/
ibus/
inkscape/
kazam/
kdeglobals
kitty/kitty.conf.bak
kitty/unicode-input-favorites.conf
libreoffice/
libvirt/
mimeapps.list
mpv/
ookla/
packer/
pavucontrol.ini
pdfarranger/
pipewire/
pulse/
qBittorrent/
qimgv/
rncbc.org/
session/
syncthingtray.ini
systemd/
tailscale/
user-dirs.dirs
user-dirs.locale
virt-viewer/
wireshark/
xsettingsd/
